<div class="page-header">
  <h1><%= @user.full_name %></h1>
</div>

<% if @statuses %>
  <% @statuses.each do |status| %>
    <div class="well">
      <%= status.content %>
      <hr>
      <%=link_to status.created_at.to_time.strftime('%B %e at %l:%M %p'), status_path(status)%>
    </div>
  <% end -%>
<% end -%>